.toolbar {
  display: inline-block;
}

.toolbar a {
  color: inherit;
  text-decoration: none;
}

.toolbar button {
  background-color: #eaeaea;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 15px;
  padding: 3px;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  position: relative;
  min-width: 27px;
  min-height: 27px;
}
.toolbar button:after {
  content: ' ';
  display: block;
}
.toolbar button.active {
  border-color: #bababa;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.25);
     -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.25);
          box-shadow: inset 0 0 1px rgba(0,0,0,0.25);
}
.toolbar button:hover,
.toolbar button:focus {
  border-color: #bababa;
}

.toolbar button.highlight:after {
  width: 17px;
  height: 17px;
  background: yellow;
  position: absolute;
  top: 4px;
  left: 4px;
}
