
<div class="cwrapper">
  <div class="content">
    <h1>Submit paper</h1>
    <%= form_for(@paper) do |f| %>
      <p>
        <%= f.file_field :data, accept: 'application/pdf' %>
      </p>
      <p>
        <%= f.submit "Submit for review" %>
      </p>
    <% end %>
  </div>
</div>
