<!DOCTYPE html>
<html>
  <head>
    <title>paper-review</title>
    <script src="/pdfviewer/pdf.js"></script>
    <script src="/pdfviewer/pdf_viewer.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
