<!DOCTYPE html>
<html>
  <head>
    <title>paper-review</title>
    <link href="/styles/template.css" rel="stylesheet" />
    <% if Rails.env.production? %>
      <link href="/dist/styles.css" rel="stylesheet" />
    <% end %>
    <script src="/pdfviewer/pdf.js"></script>
    <script src="/pdfviewer/pdf_viewer.js"></script>
  </head>
  <body>
    <div class="hwrapper">
      <div class="header">
        <div class="logo"><a href="/">paper-review</a></div>
        <ul class="hnav">
          <li><a href="/papers/">Submit paper</a></li>
          <% if current_user %>
            <li class="right last"><%= link_to "Sign out", destroy_user_session_path %></li>
          <% else %>
            <li class="right last"><%= link_to "Login", new_user_session_path %></li>
            <li class="right"><%= link_to "Signup", new_user_registration_path %></li>
          <% end %>
          <div class="clear" />
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
